In [20]:
!pip install bs4
!pip install requests
!pip install selenium

Requirement already satisfied: bs4 in c:\users\nelir\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\nelir\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\nelir\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: requests in c:\users\nelir\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\nelir\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nelir\anaconda3\lib\site-packages (from requests) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nelir\anaconda3\lib\site-packages (from requests) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nelir\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: selenium in c:\users\nelir\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: trio~=0.17 in c:\users\nelir\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\nelir\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nelir\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nelir\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: sniffio in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\nelir\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nelir\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nelir\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nelir\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [21]:
#import all required libraries

import requests
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
        
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver = webdriver.Chrome()

There was an error managing chrome (error sending request for url (https://googlechromelabs.github.io/chrome-for-testing/known-good-versions-with-downloads.json): error trying to connect: An existing connection was forcibly closed by the remote host. (os error 10054)); using driver found in the cache

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

driver.get(url)

In [7]:
Rank = []
Name = []
Artist = []
Date = []
Views = []

In [8]:
try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
        

try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
        

try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
        

try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
        

try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [9]:
print(len(Rank), len(Name), len(Artist), len(Date), len(Views))

30 30 30 30 30

In [11]:
df1 = pd.DataFrame({"Rank": Rank, "Name": Name, "Artist":Artist, "Upload Date": Date, "Views": Views})
df1

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.65
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.32
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.84
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.50
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.14
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.09
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.71
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.57
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.09
9,10.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.01
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.96
11,12.,"""Masha and the Bear ‚Äì Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.48
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.16
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.97
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.92
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.91
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.84
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.78
19,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.76
20,21.,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.74
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.69
22,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.63
23,24.,"""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.63
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.60
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.56
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.55
27,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,"May 10, 2011",3.54
28,29.,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.52
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.50

# Q2: Scrape the details team India‚Äôs international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [12]:
driver = webdriver.Chrome()

There was an error managing chrome (error sending request for url (https://googlechromelabs.github.io/chrome-for-testing/known-good-versions-with-downloads.json): connection error: connection reset); using driver found in the cache

In [13]:
url = 'https://www.bcci.tv/'
driver.get(url)

In [14]:
menu=driver.find_element(By.XPATH, '/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
menu.click()

In [15]:
Series = []
Place = []
Date = []
Time = []

In [18]:
try:
    for i in driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append("-")
    
    
try:
    for i in driver.find_elements(By.XPATH, '//div[@class="match-place ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append("-")
    
    
try:
    for i in driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
    
    
try:
    for i in driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]'):
        Time.append(i.text)
except NoSuchElementException:
    Time.append("-")

In [19]:
print(len(Series), len(Place), len(Date), len(Time))

9 9 9 9

In [20]:
df2 = pd.DataFrame({"Series": Series, "Place": Place, "Date": Date, "Time": Time})
df2

,Series,Place,Date,Time
0,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium, Mumbai","29 NOVEMBER, 2023",8:00 AM GMT
1,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium, Mumbai","1 DECEMBER, 2023",8:00 AM GMT
2,AUSTRALIA TOUR OF INDIA 2023-24,Shaheed Veer Narayan Singh International Crick...,"1 DECEMBER, 2023",1:30 PM GMT
3,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium, Mumbai","3 DECEMBER, 2023",8:00 AM GMT
4,AUSTRALIA TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","3 DECEMBER, 2023",1:30 PM GMT
5,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","6 DECEMBER, 2023",1:30 PM GMT
6,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","9 DECEMBER, 2023",1:30 PM GMT
7,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","10 DECEMBER, 2023",1:30 PM GMT
8,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead, Durban","10 DECEMBER, 2023",4:00 PM GMT

# Q3: Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [35]:
driver = webdriver.Chrome()

There was an error managing chrome (error sending request for url (https://googlechromelabs.github.io/chrome-for-testing/known-good-versions-with-downloads.json): error trying to connect: An existing connection was forcibly closed by the remote host. (os error 10054)); using driver found in the cache

In [36]:
url = "http://statisticstimes.com/"
driver.get(url)

In [37]:
economy=driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [38]:
india=driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [40]:
GDP=driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

In [41]:
Rank = []
State = []
GSDP18_19 = []
GSDP19_20 = []
Share18_19 = []
GDP_billion = []

In [43]:
try:
    for i in driver.find_elements(By.XPATH, "//table[@class='display dataTable']/tbody/tr/td[1]")[:67]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    

try:
    for i in driver.find_elements(By.XPATH, "//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    

try:
    for i in driver.find_elements(By.XPATH, "//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP18_19.append(i.text)
except NoSuchElementException:
    GSDP18_19.append("_")
    

try:
    for i in driver.find_elements(By.XPATH, "//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP19_20.append(i.text)
except NoSuchElementException:
    GSDP19_20.append("_")
    

try:
    for i in driver.find_elements(By.XPATH, "//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share18_19.append(i.text)
except NoSuchElementException:
    Share18_19.append("_")
    

try:
    for i in driver.find_elements(By.XPATH, "//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [44]:
print(len(Rank), len(State), len(GSDP18_19), len(GSDP19_20), len(Share18_19), len(GDP_billion))

132 132 132 132 132 132

In [45]:
df3 = pd.DataFrame({"Rank": Rank, "State": State, "GSDP 18-19": GSDP18_19, "GSDP 19-20": GSDP19_20, "Share 18-19": Share18_19, "GDP billion": GDP_billion})
df3

,Rank,State,GSDP 18-19,GSDP 19-20,Share 18-19,GDP billion
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
...,...,...,...,...,...,...
127,29,Sikkim,"25,141","28,391",0.15%,"17,060"
128,30,Nagaland,"24,534",-,0.15%,-
129,31,Arunachal Pradesh,"22,488",-,0.13%,-
130,32,Mizoram,"20,947","24,424",0.13%,"17,797"
131,33,Andaman & Nicobar Islands,-,-,-,-

# Q4: Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [116]:
driver=webdriver.Chrome()

In [117]:
url="https://github.com/"
driver.get(url)

In [118]:
drop_down=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
drop_down.click()

In [119]:
trending=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [122]:
Repository_title=[]
Repository_description=[]
Contributors_counts =[]
Language=[]

In [123]:
title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]//a')
for i in title[:22]:
    try:
        Repository_title.append(i.text)
    except NoSuchElementException:
        Repository_title.append('-')

description=driver.find_elements(By.XPATH,'//article[@class="Box-row"]//p') 
for i in description[:22]:
    try:
        Repository_description.append(i.text)
    except NoSuchElementException:
        Repository_description.append('-')

counts=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][1]') 
for i in counts[:22]:
    try:
        Contributors_counts.append(i.text)
    except NoSuchElementException:
        Contributors_counts.append('-')

languages=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]') 
for i in languages:
    try:
        Language.append(i.text)
    except NoSuchElementException:
        Language.append('-')

In [124]:
print(len(Repository_title), len(Repository_description), len(Contributors_counts), len(Language))

22 22 22 22

In [125]:
df4=pd.DataFrame({"Repository title": Repository_title, "Repository description": Repository_description, "Contributors counts":Contributors_counts, "Language used": Language})
df4

,Repository title,Repository description,Contributors counts,Language used
0,LouisShark / chatgpt_system_prompt,store all agent's system prompt,"2,171",C
1,run-llama / rags,"Build ChatGPT over your data, all with natural...","3,692",Python
2,linexjlin / GPTs,leaked prompts of GPTs,"4,372",Go
3,1Panel-dev / 1Panel,üî• üî• üî• Áé∞‰ª£Âåñ„ÄÅÂºÄÊ∫êÁöÑ Linux ÊúçÂä°Âô®ËøêÁª¥ÁÆ°ÁêÜÈù¢Êùø„ÄÇ,"13,310",Java
4,GrowingGit / GitHub-Chinese-Top-Charts,üá®üá≥ GitHub‰∏≠ÊñáÊéíË°åÊ¶úÔºåÂêÑËØ≠Ë®ÄÂàÜËÆæ„ÄåËΩØ‰ª∂ | ËµÑÊñô„ÄçÊ¶úÂçïÔºåÁ≤æÂáÜÂÆö‰Ωç‰∏≠ÊñáÂ•ΩÈ°πÁõÆ„ÄÇÂêÑÂèñÊâÄÈúÄ...,"70,519",TypeScript
5,atomicals / atomicals-js,Atomicals CLI and Javascript Library,442,C
6,opa334 / TrollStore,Jailed iOS app that can install IPAs permanent...,"11,377",Rust
7,jordan-cutler / path-to-senior-engineer-handbook,All the resources you need to get to Senior En...,"3,051",JavaScript
8,BurntSushi / ripgrep,ripgrep recursively searches directories for a...,"41,449",Kotlin
9,bgstaal / multipleWindow3dScene,"A quick example of how one can ""synchronize"" a...","10,032",Swift
10,Ftindy / IPTV-URL,Open-source Android/Desktop remake of Civ V,634,Jupyter Notebook
11,yairm210 / Unciv,A library for building applications in a consi...,"6,759",Java
12,pointfreeco / swift-composable-architecture,"12 Weeks, 24 Lessons, AI for All!","10,100",Rust
13,microsoft / AI-For-Beginners,Spring Boot,"22,678",Jupyter Notebook
14,spring-projects / spring-boot,"A toolchain for web projects, aimed to provide...","70,610",C++
15,biomejs / biome,Understanding Deep Learning - Simon J.D. Prince,"4,636",Python
16,udlbook / udlbook,JSON for Modern C++,"3,384",JavaScript
17,nlohmann / json,Code for CRATE (Coding RAte reduction Transfor...,"37,668",Svelte
18,Ma-Lab-Berkeley / CRATE,based on bgstaal/multipleWindow3dScene,817,JavaScript
19,ShinoKana / multipleWindow3dScene,Bookmark manager for the wizards üßô,335,PHP
20,goniszewski / grimoire,K√≠nh chi·∫øu y√™uuuu qu·ª∑ seg hi·ªán raaa,864,Go
21,zennomi / Seg-Mirror,A PHP client library for accessing Google APIs,175,TypeScript

# Q5: Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [76]:
driver=webdriver.Chrome()

In [77]:
url="https:/www.billboard.com/"
driver.get(url)

In [78]:
charts_button=driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts_button.click()

In [79]:
top_100=driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
top_100.click()

In [94]:
Song_Name = []
Artist_Name =[]
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [95]:
for _ in range(500): # scroll the page down
        driver.execute_script("window.scrollBy(0,100)")
        
                
song_name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3 ')
for i in song_name[0:100]:
    try:
        Song_Name.append(i.text)
    except NoSuchElementException:
        Song_Name.append('-')
        

artist_name= driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]//li[1]//span')
for i in artist_name[0:100]:
    try:
        Artist_Name.append(i.text)
    except NoSuchElementException:
        Artist_Name.append('-')
        

last_week= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//li[4]')
for i in last_week[0:100]:
    try:
        Last_week_rank.append(i.text)
    except NoSuchElementException:
        Last_week_rank.append('-')
        

peak= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//li[5]')
for i in peak[0:100]:
    try:
        Peak_rank.append(i.text)
    except NoSuchElementException:
        Peak_rank.append('-')
        
    
board= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//li[6]')
for i in board[0:100]:
    try:
        Weeks_on_board.append(i.text)
    except NoSuchElementException:
        Weeks_on_board.append('-')

In [96]:
print(len(Song_Name), len(Artist_Name), len(Last_week_rank), len(Peak_rank), len(Weeks_on_board))

100 100 100 100 100

In [97]:
df5=pd.DataFrame({"Song Name": Song_Name, "Artist Name": Artist_Name, "Last week rank": Last_week_rank, "Peak rank": Peak_rank, "Weeks on board": Weeks_on_board})
df5

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,Lovin On Me,Jack Harlow,2,1,2
1,Cruel Summer,Taylor Swift,,,29
2,Paint The Town Red,Doja Cat,1,1,16
3,All I Want For Christmas Is You,Mariah Carey,,,60
4,Snooze,SZA,3,1,50
...,...,...,...,...,...
95,Different 'Round Here,Riley Green Featuring Luke Combs,,,2
96,Bongos,Cardi B & Megan Thee Stallion,36,1,11
97,But I Got A Beer In My Hand,Luke Bryan,,,6
98,Calling For You,Drake Featuring 21 Savage,58,3,4
99,Mi Ex Tenia Razon,Karol G,,,14

# Q6: Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [126]:
driver=webdriver.Chrome()

In [127]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [131]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [132]:
book_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[2]')  
for i in book_name:
    try:
        Book_name.append(i.text)
    except NoSuchElementException:
        Book_name.append('-')
        
author_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[3]') 
for i in author_name:
    try:
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
        
volumes=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[4]') 
for i in volumes:
    try:
        Volumes_sold.append(i.text)
    except NoSuchElementException:
        Volumes_sold.append('-')
        
publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[5]') 
for i in publisher:
    try:
        Publisher.append(i.text)
    except NoSuchElementException:
        Publisher.append('-')
        
genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[6]') 
for i in genre:
    try:
        Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-')

In [133]:
print(len(Book_name), len(Author_name), len(Volumes_sold), len(Publisher), len(Genre))

100 100 100 100 100

In [135]:
df6=pd.DataFrame({"Book Name": Book_name, "Author Name": Author_name, "Volumes sold": Volumes_sold, "Publisher": Publisher, "Genre": Genre})
df6

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q7:Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [33]:
driver=webdriver.Chrome()

In [34]:
url=" https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [6]:
for _ in range(500): 
        driver.execute_script("window.scrollBy(0,100)")

In [7]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [8]:
name=driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]//a') 
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')
    
    
year=driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]//span[2]') 
for i in year:
    try:
        Year_span.append(i.text)
    except NoSuchElementException:
        Year_span.append('-')
   
      
genre=driver.find_elements(By.XPATH, '//p[@class="text-muted text-small"]//span[5]') 
for i in genre:
    try:
        Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-')
        
        
time=driver.find_elements(By.XPATH, '//p[@class="text-muted text-small"]//span[3]') 
for i in time:
    try:
        Run_time.append(i.text)
    except NoSuchElementException:
        Run_time.append('-')
        
        
ratings=driver.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]')
for i in ratings:
    try:
        Ratings.append(i.text)
    except NoSuchElementException:
        Ratings.append('-')
        
        
votes=driver.find_elements(By.XPATH, '//span[@name="nv"]') 
for i in votes:
    try:
        Votes.append(i.text)
    except NoSuchElementException:
        Votes.append('-')

In [9]:
print(len(Name), len (Year_span), len(Genre), len(Run_time), len(Ratings), len(Votes))

100 100 100 100 100 100

In [10]:
df7 = pd.DataFrame({"Name": Name, "Year span": Year_span, "Genre": Genre, "Run time": Run_time, "Votes": Votes})
df7

,Name,Year span,Genre,Run time,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama","4,189 min","2,226,676"
1,Stranger Things,(2016‚Äì2025),"Drama, Fantasy, Horror",51 min,"1,293,610"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,"1,056,272"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,"310,129"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,"269,253"
...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,"53,278"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,"65,358"
97,Criminal Minds,(2005‚Äì ),"Crime, Drama, Mystery",42 min,"213,175"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,"44,372"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"278,065"

# Q8: Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [35]:
driver=webdriver.Chrome()

In [36]:
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [37]:
view_all=driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_all.click()

In [38]:
Dataset_Name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [39]:
name=driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
for i in name:
    try:
        Dataset_Name.append(i.text)
    except NoSuchElementException:
        Dataset_Name.append('-')
        
data_type=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[1]//span')
for i in data_type:
    try:
        Data_type.append(i.text)
    except NoSuchElementException:
        Data_type.append('-')
        
        
task=driver.find_elements(By.XPATH, '//div[@class="relative col-span-8 sm:col-span-7"]//p')
for i in task:
    try:
        Task.append(i.text)
    except NoSuchElementException:
        Task.append('-')
        

attribute=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[2]')
for i in attribute:
    try:
        Attribute_type.append(i.text)
    except NoSuchElementException:
        Attribute_type.append('-')
        

instances=driver.find_elements(By.XPATH, '//div[@class="col-span-3 flex items-center gap-2"][3]//span')
for i in instances:
    try:
        No_of_instances.append(i.text)
    except NoSuchElementException:
        No_of_instances.append('-')

        
no_attribute=driver.find_elements(By.XPATH, '//div[@class="col-span-3 flex items-center gap-2"][4]//span') 
for i in no_attribute:
    try:
        No_of_attribute.append(i.text)
    except NoSuchElementException:
        No_of_attribute.append('-')
        
        
year=driver.find_elements(By.XPATH, '//table[@class="col-span-full my-2 table sm:col-start-2"][1]//td[3]')
for i in year:
    try:
        Year.append(i.text)
    except NoSuchElementException:
        Year.append('-')

In [40]:
print(len(Dataset_Name), len(Data_type), len(Task), len(Attribute_type), len(No_of_instances), len(No_of_attribute), len(Year))

10 10 10 10 10 10 10

In [46]:
df8=pd.DataFrame({"Dataset Name": Dataset_Name, "Data type" :Data_type, "Task": Task, "Attribute type": Attribute_type, "No of instances": No_of_instances, "No of attribute": No_of_attribute, "Year":Year})
df8

,Dataset Name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Classification,"A small classic dataset from Fisher, 1936. One...",Tabular,150 Instances,4 Features,7/1/1988
1,Heart Disease,Classification,"4 databases: Cleveland, Hungary, Switzerland, ...",Multivariate,303 Instances,13 Features,7/1/1988
2,Adult,Classification,Predict whether income exceeds $50K/yr based o...,Multivariate,48.84K Instances,14 Features,5/1/1996
3,Wine,Classification,Using chemical analysis to determine the origi...,Tabular,178 Instances,13 Features,7/1/1991
4,Breast Cancer Wisconsin (Diagnostic),Classification,Diagnostic Wisconsin Breast Cancer Database.,Multivariate,569 Instances,30 Features,11/1/1995
5,Diabetes,Classification,This diabetes dataset is from AIM '94,"Multivariate, Time-Series",1 Instances,20 Features,N/A
6,Dry Bean Dataset,Classification,"Images of 13,611 grains of 7 different registe...",Multivariate,13.61K Instances,16 Features,9/14/2020
7,Car Evaluation,Classification,Derived from simple hierarchical decision mode...,Multivariate,1.73K Instances,6 Features,6/1/1997
8,Wine Quality,"Classification, Regression","Two datasets are included, related to red and ...",Multivariate,4.9K Instances,12 Features,10/7/2009
9,Bank Marketing,Classification,The data is related with direct marketing camp...,Multivariate,45.21K Instances,17 Features,2/14/2012