In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\nelir\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nelir\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\nelir\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nelir\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\nelir\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: cffi>=1.14 in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\nelir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\nelir\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nelir\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nelir\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nelir\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
#import all required libraries

import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [123]:
#connecting with the webdriver

driver = webdriver.Chrome()

In [124]:
#opening the www.shine.com website on automated chrome browser

driver.get('https://wwww.shine.com/')

In [125]:
#remove the pop up page
pop_up_page =driver.find_element(By.XPATH,'/html/body/div/div[2]/div/div/button')
pop_up_page.click()

In [ ]:
#click on the empty field

click_emp=driver.find_element(By.XPATH, "/html/body/div/header[2]/div[2]/div[1]/input")
click_emp.click()

In [127]:
#entering designation as required in the question

designation=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys("Data Analyst")

In [129]:
#entering location Banglore in location search bar using xpath

location=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [130]:
#clicking on search bar button

search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [131]:
#creating empty lists

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [135]:
#scraping the first 10 job titles

title=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1265")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1306")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1344")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1390")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1476")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1508")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1579")>]

In [136]:
for i in title[0:10]:
    job_title.append(i.text)

job_title

['Data Analyst Vacancy',
 'Data Analyst Vacancy',
 'Clinical Data Analyst',
 'Data Analyst Urgent Recruitment',
 'Data Analyst Urgent Recruitment',
 'Data Analyst Urgent Recruitment',
 'Data Analyst 1',
 'Clinical Data Analyst',
 'Data Analytics - Analyst',
 'Hiring For Data Analyst']

In [138]:
#scraping the first 10 job locations

location=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

location[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1276")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1317")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1355")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1401")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1439")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1484")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1519")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1555")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1590")>]

In [139]:
for i in location[0:10]:
    job_location.append(i.text)
    
job_location

['Bangalore\n+14',
 'Bangalore\n+14',
 'Bangalore\n+4',
 'Bangalore\n+14',
 'Bangalore\n+14',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore\n+14']

In [140]:
#scraping the first 10 company names

company=driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')

company[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1232")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1268")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1309")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1347")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1393")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1431")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1479")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1511")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1550")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1582")>]

In [141]:
for i in company[0:10]:
    company_name.append(i.text)
    
company_name

['divya interprises',
 'divya interprises',
 'quiscon biotech',
 'divya interprises',
 'divya interprises',
 'divya interprises',
 'merck ltd',
 'techno endura',
 'jpmorgan',
 'divya interprises']

In [142]:
#scraping the first 10 experience required

experience=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

experience[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1234")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1270")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1349")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1395")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1433")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1513")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1552")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a19a77825e00e12b588d142fa0d9a3a5", element="AA9757B6EC2140B5C77626B1773B449B_element_1584")>]

In [143]:
for i in experience[0:10]:
    experience_required.append(i.text)
    
experience_required

['0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 2 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '1 to 3 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs',
 '0 to 4 Yrs']

In [144]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [145]:
#creating DataFrame

data = pd.DataFrame({'job_title':job_title,'company_name':company_name,'job_location':job_location,'experience_required':experience_required})

data

,job_title,company_name,job_location,experience_required
0,Data Analyst Vacancy,divya interprises,Bangalore\n+14,0 to 4 Yrs
1,Data Analyst Vacancy,divya interprises,Bangalore\n+14,0 to 4 Yrs
2,Clinical Data Analyst,quiscon biotech,Bangalore\n+4,0 to 2 Yrs
3,Data Analyst Urgent Recruitment,divya interprises,Bangalore\n+14,0 to 4 Yrs
4,Data Analyst Urgent Recruitment,divya interprises,Bangalore\n+14,0 to 4 Yrs
5,Data Analyst Urgent Recruitment,divya interprises,Bangalore\n+14,0 to 4 Yrs
6,Data Analyst 1,merck ltd,Bangalore,1 to 3 Yrs
7,Clinical Data Analyst,techno endura,Bangalore\n+6,0 to 1 Yr
8,Data Analytics - Analyst,jpmorgan,Bangalore,0 to 4 Yrs
9,Hiring For Data Analyst,divya interprises,Bangalore\n+14,0 to 4 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [146]:
#connecting with the webdriver

driver=webdriver.Chrome()

In [148]:
#opening the www.shine.com website on automated chrome browser

driver.get('https://www.shine.com/')

In [149]:
#remove the pop up page
pop_up_page =driver.find_element(By.XPATH,'/html/body/div/div[2]/div/div/button')
pop_up_page.click()

In [152]:
#click on the empty field

click_emp=driver.find_element(By.XPATH, "/html/body/div/header[2]/div[2]/div[1]/input")
click_emp.click()

In [157]:
#entering designation as required in the question

designation1=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation1.send_keys("Data Scientist")

In [158]:
#entering location Banglore in location search bar using xpath

location1=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location1.send_keys("Bangalore")

In [160]:
#clicking on search bar button

search1=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search1.click()

In [161]:
#creating empty lists

job_title1=[]
job_location1=[]
company_name1=[]

In [162]:
#scraping the first 10 job titles

title1=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

title1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2931")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2935")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2936")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2937")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2938")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2939")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2940")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2941")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2942")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2943")>]

In [163]:
for i in title1[0:10]:
    job_title1.append(i.text)

job_title1

['Data Scientist Vacancy',
 'Data Scientist Urgent Recruitment',
 'Data Scientist- Bangalore',
 'Data Scientist AI ML CV',
 'Data Scientist-Bangalore',
 'Data Scientist AI ML NLP',
 'Phd Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist',
 'Staff Data Scientist & Team Lead']

In [165]:
#scraping the first 10 job locations

location1=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

location1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2455")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2963")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2964")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2965")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2966")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2968")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2969")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2970")>]

In [166]:
for i in location1[0:10]:
    job_location1.append(i.text)
    
job_location1

['Bangalore\n+14',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore']

In [167]:
#scraping the first 10 company names

company1=driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')

company1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2611")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2981")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2982")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2983")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2984")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2985")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2986")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2987")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2988")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c711e0a238416a1241e374e1705bc7b1", element="CA701135CBF6BFE8AD6969CD21ACF840_element_2989")>]

In [168]:
for i in company1[0:10]:
    company_name1.append(i.text)
    
company_name1

['divya interprises',
 'divya interprises',
 'the fashion cosmo',
 'bosch group',
 'shiva hr services',
 'bosch group',
 'bosch group',
 'divya interprises',
 'racanaa energy solution private lim...',
 'true caller']

In [169]:
print(len(job_title1),len(job_location1),len(company_name1))

10 10 10

In [170]:
#creating DataFrame

data1=pd.DataFrame({'job_title':job_title1,'company_name':company_name1,'job_location':job_location1})

data1

,job_title,company_name,job_location
0,Data Scientist Vacancy,divya interprises,Bangalore\n+14
1,Data Scientist Urgent Recruitment,divya interprises,Bangalore\n+14
2,Data Scientist- Bangalore,the fashion cosmo,Bangalore
3,Data Scientist AI ML CV,bosch group,Bangalore
4,Data Scientist-Bangalore,shiva hr services,Bangalore
5,Data Scientist AI ML NLP,bosch group,Bangalore
6,Phd Data Scientist,bosch group,Bangalore
7,Hiring For Data Scientist,divya interprises,Bangalore\n+14
8,Data Scientist,racanaa energy solution private lim...,Bangalore
9,Staff Data Scientist & Team Lead,true caller,Bangalore

# Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [171]:
#connecting with the webdriver

driver=webdriver.Chrome()

In [172]:
#opening the www.shine.com website on automated chrome browser

driver.get('https://www.shine.com/')

In [173]:
#remove the pop up window

pop_up_page =driver.find_element(By.XPATH,'/html/body/div/div[2]/div/div/button')
pop_up_page.click()

In [176]:
#click on the empty field

click_emp=driver.find_element(By.XPATH, "/html/body/div/header[2]/div[2]/div[1]/input")
click_emp.click()

In [178]:
#entering designation as required in the question

designation2=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation2.send_keys("Data Scientist")

In [179]:
#clicking on search bar button

search1=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search1.click()

In [190]:
#click on location filter bar

click_location_button =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button')
click_location_button.click()

In [192]:
from selenium.webdriver.support.ui import Select

In [203]:
#selecting Delhi

select=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[10]/span/label")
select.click()

In [204]:
#click on salary filter

salary_click_button=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/ul/li[3]")
salary_click_button.click()

In [205]:
#selecting 3 to 5 Lakh

select_salary=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
select_salary.click()

In [206]:
#click on show results button

show_results_button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
show_results_button.click()

In [207]:
#creating empty lists

job_title2=[]
job_location2=[]
company_name2=[]
experience_required2=[]

In [208]:
#scraping the first 10 job titles

title2=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

title2[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4076")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4116")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4160")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4200")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4346")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4386")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4466")>]

In [209]:
for i in title2[0:10]:
    job_title2.append(i.text)

job_title2

['Data Scientist- Delhi',
 'Data Scientist-Delhi',
 'Data Scientist- Delhi',
 'Data Scientist- Delhi',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Clinical Data Analyst',
 'Data Modeler',
 'Biostatistician']

In [213]:
#scraping the first 10 job locations

location2=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

location2[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4089")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4129")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4173")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4258")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4291")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4359")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4399")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4439")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4475")>]

In [214]:
for i in location2[0:10]:
    job_location2.append(i.text)
    
job_location2

['Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi\n+4',
 'Delhi\n+6',
 'Delhi\n+4',
 'Delhi\n+6',
 'Delhi\n+9',
 'Delhi\n+17']

In [215]:
#scraping the first 10 company names

company2=driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')

company2[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4079")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4119")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4163")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4203")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4252")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4285")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4349")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4389")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4429")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4469")>]

In [216]:
for i in company2[0:10]:
    company_name2.append(i.text)
    
company_name2

['the fashion cosmo',
 'shiva hr services',
 'the fashion cosmo',
 'the fashion cosmo',
 'acme services private limited',
 'quiscon biotech',
 'acme services private limited',
 'techno endura',
 'v-tech data outsourcing',
 'national seeds corporation limited']

In [217]:
#scraping the first 10 experience required

experience2=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

experience2[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4081")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4121")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4254")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4287")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4351")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4391")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4431")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2360bb177a276a7174d1cb1e644f7752", element="11636563712ACE893F5030377F1AAB44_element_4471")>]

In [218]:
for i in experience2[0:10]:
    experience_required2.append(i.text)
    
experience_required2

['0 to 3 Yrs',
 '0 to 3 Yrs',
 '0 to 3 Yrs',
 '0 to 3 Yrs',
 '3 to 5 Yrs',
 '0 to 1 Yr',
 '3 to 5 Yrs',
 '0 to 1 Yr',
 '0 to 2 Yrs',
 '1 to 6 Yrs']

In [219]:
print(len(job_title2),len(job_location2),len(company_name2),len(experience_required2))

10 10 10 10

In [220]:
#creating DataFrame

data2 = pd.DataFrame({'job_title':job_title2,'company_name':company_name2,'job_location':job_location2,'experience_required':experience_required2})

data2

,job_title,company_name,job_location,experience_required
0,Data Scientist- Delhi,the fashion cosmo,Delhi,0 to 3 Yrs
1,Data Scientist-Delhi,shiva hr services,Delhi,0 to 3 Yrs
2,Data Scientist- Delhi,the fashion cosmo,Delhi,0 to 3 Yrs
3,Data Scientist- Delhi,the fashion cosmo,Delhi,0 to 3 Yrs
4,Data Scientist,acme services private limited,Delhi\n+4,3 to 5 Yrs
5,Data Scientist,quiscon biotech,Delhi\n+6,0 to 1 Yr
6,Data Scientist,acme services private limited,Delhi\n+4,3 to 5 Yrs
7,Clinical Data Analyst,techno endura,Delhi\n+6,0 to 1 Yr
8,Data Modeler,v-tech data outsourcing,Delhi\n+9,0 to 2 Yrs
9,Biostatistician,national seeds corporation limited,Delhi\n+17,1 to 6 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.

In [156]:
driver=webdriver.Chrome()

In [157]:
#opening the flipkart website on automated chrome browser

driver.get('https://www.flipkart.com/')

In [158]:
#remove the pop up window

pop_up_page =driver.find_element(By.XPATH,'/html/body/div[3]/div/span')
pop_up_page.click()

In [159]:
#entering sunglasses in search field

search_field=driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input")
search_field.send_keys("sunglasses")

In [160]:
#click on the search button

search_button=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search_button.click()

In [161]:
#creating empty lists and scraping the required data

Brand=[]
Product_Description=[]
Price=[]

for i in range(3):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:Brand.append(i.text)
    
    product_des = driver.find_elements(By.XPATH, "//a[@class='IRpwTa']")
    for i in product_des:Product_Description.append(i.text)
        
    price = driver.find_elements(By.XPATH, "//div[@class='_30jeq3']")
    for i in price:Price.append(i.text)

In [162]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [163]:
#creating a dataframe from the scraped data

df = pd.DataFrame({'Brand': Brand,'Product_Description':Product_Description,'Price':Price})

df[0:100]

             Brand                                Product_Description   Price
0    VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...    ₹799
1      Eyewearlabs  Polarized, UV Protection Wayfarer Sunglasses (51)  ₹1,236
2             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹149
3           GANSTA  Night Vision, Riding Glasses Rectangular Sungl...     ₹79
4          ROADWAY  UV Protection Retro Square Sunglasses (Free Size)    ₹199
..             ...                                                ...     ...
95  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹299
96       ROYAL SON  UV Protection Rectangular, Retro Square Sungla...    ₹424
97       ROYAL SON                Others Retro Square Sunglasses (58)    ₹424
98          GANSTA  Gradient, UV Protection Rectangular Sunglasses...     ₹79
99       METRONAUT                             UV Protection Sunglass    ₹199

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:¶
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:

1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [164]:
driver=webdriver.Chrome()

In [165]:
#opening the website on automated chrome browser

driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [178]:
#creating empty lists and scraping the required data

Rating=[]
Review_summary=[]
Full_review=[]


for i in range(10):
    rating= driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:Rating.append(i.text)

    review= driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in review:Review_summary.append(i.text)

    full_review= driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for i in full_review:Full_review.append(i.text)

In [179]:
print(len(Rating),len(Review_summary),len(Full_review))

100 100 100

In [180]:
#creating DataFrame

df1 = pd.DataFrame({'Rating':Rating,'Review_summary':Review_summary,'Full_review':Full_review})

df1

,Rating,Review_summary,Full_review
0,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
1,5,Just wow!,Perfect Product!!
2,5,Perfect product!,V Good all
3,5,Must buy!,It’s really awesome
4,5,Brilliant,Excellent Phone.
...,...,...,...
95,4,Good quality product,Awesome
96,5,Brilliant,very good camera quality
97,5,Terrific purchase,Value for money 🖤🖤
98,5,Fabulous!,It’s very good battery life and display and vi...
99,5,Great product,Purple is best

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [301]:
driver=webdriver.Chrome()

There was an error managing chrome (error sending request for url (https://googlechromelabs.github.io/chrome-for-testing/known-good-versions-with-downloads.json): connection error: connection reset); using driver found in the cache

In [302]:
#opening the flipkart website on automated chrome browser

driver.get('https://www.flipkart.com/')

In [303]:
pop_close = driver.find_element(By.XPATH, '/html/body/div[3]/div/span')
pop_close.click()

In [306]:
search_item = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
search_item.send_keys("sneakers")

In [307]:
click_search_button = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
click_search_button.click()

In [309]:
#creating empty lists and scraping the required data

Brand1=[]
Product_Description1=[]
Price1=[]

for i in range(3):
    
    
    brand1 = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    prod_des1 = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    price1 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')


    for i in brand1:
        Brand1.append(i.text)
    for i in prod_des1:
        Product_Description1.append(i.text)
    for i in price1:
        Price1.append(i.text)

In [311]:
#click on next button

next_button1=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button1.click()

In [312]:
print(len(Brand1),len(Product_Description1),len(Price1))

120 120 120

In [313]:
df2 = pd.DataFrame({'Brand':Brand1,'Product_Description':Product_Description1,'Price':Price1})

df2[0:100]

              Brand                                Product_Description   Price
0            BRUTON  Combo Pack Of 2 Men’s Casual Shoes Sneakers Fo...    ₹497
1            BRUTON  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹297
2          URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...    ₹299
3            Layasa                                   Sneakers For Men    ₹299
4              PUMA                             Impel Sneakers For Men  ₹1,709
..              ...                                                ...     ...
95             PUMA                         Hustle V2 Sneakers For Men  ₹1,198
96           BRUTON  Combo Pack Of 2 Casual Shoes for mens Sneakers...    ₹497
97           BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹497
98         RED TAPE                                   Sneakers For Men  ₹1,187
99  U.S. POLO ASSN.                           CLARKIN Sneakers For Men  ₹1,429

[100 rows x 3 columns]

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [314]:
driver=webdriver.Chrome()

In [315]:
#opening the amazon website on automated chrome browser

driver.get('https://www.amazon.in/')

In [319]:
#searching for'Laptop' in the search field

search_item1=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[2]/form/div/div/input')
search_item1.send_keys("laptop")

In [320]:

#click on search icon

click_search_icon=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[2]/form/input')
click_search_icon.click()
#select intel core 7 filte

In [322]:
#select intel core 7 filter

intel_core7 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[9]/li/span/a/div/label/i')
intel_core7.click()

In [326]:
#creating empty lists and scraping the required data

Title2=[]
Ratings2=[]
Price2=[]

title2 = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
rating2 = driver.find_elements(By.XPATH, '//span[@class="a-size-base s-underline-text"]')
price2 = driver.find_elements(By.XPATH, "//span[@class='a-price-whole']")

for i in title2:Title2.append(i.text)
for i in rating2:Ratings2.append(i.text)    
for i in price2:Price2.append(i.text)

In [327]:
print(len(Title2),len(Ratings2),len(Price2))

24 24 24

In [329]:
Laptops = pd.DataFrame({'Title':Title2,'Ratings':Ratings2, 'Price':Price2})
Laptops[0:10]

                                               Title Ratings     Price
0  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...      51    68,990
1  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...      20    63,990
2  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...      22    49,990
3  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...      59    52,990
4  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...      96    64,990
5  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...      46    84,990
6  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     329    60,990
7  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...      85    85,990
8  Acer Aspire Lite Premium Metal Laptop 11th Gen...     170    47,990
9  Acer Predator Helios Neo 16 Gaming Laptop 13th...     124  1,09,990

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quotes

3. Than scrap a) Quote b) Author c) Type Of Quotes

In [330]:
driver=webdriver.Chrome()

In [331]:
#opening the website on automated chrome browser

driver.get('https://www.azquotes.com/')

In [332]:
#click on Top Quotes

click_top_quotes=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a')
click_top_quotes.click()

In [335]:
#creating empty list and scraping the required data

Quote=[]
Author=[]
Type_of_Quotes=[]

for i in range(3):
    
    
    quote=driver.find_elements(By.XPATH, '//a[@class="title"]')
    author=driver.find_elements(By.XPATH, '//div[@class="author"]')
    type_of_quotes=driver.find_elements(By.XPATH, '//div[@class="tags"]')


    for i in quote:
        Quote.append(i.text)
    for i in author:
        Author.append(i.text)
    for i in type_of_quotes:
        Type_of_Quotes.append(i.text)

In [336]:
print(len(Quote),len(Author),len(Type_of_Quotes))

300 300 300

In [337]:
quotes = pd.DataFrame({'Quote':Quote,'Author':Author,'Type_of_Quotes':Type_of_Quotes})

quotes[0:100]

,Quote,Author,Type_of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [12]:
driver=webdriver.Chrome()

In [13]:
#opening the website on automated chrome browser

driver.get('https://www.jagranjosh.com/')

In [14]:
pop_up_window=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[2]/div[2]/button[1]/p')
pop_up_window.click()

In [15]:
#click on GK Option

click_jk_option=driver.find_element(By.XPATH, "/html/body/div/header/nav/div/div/div[3]/ul/li[6]/a")
click_jk_option.click()

In [16]:
pop_up=driver.find_element(By.XPATH, '/html/body/div[3]/div[2]/div[1]/div[2]/div[2]/button[1]/p')
pop_up.click()

In [17]:
#click on the list All Prime Ministers of India

click_all_PMs=driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
click_all_PMs.click()

In [18]:
pop_up_win=driver.find_element(By.XPATH, '/html/body/div[3]/div[2]/div[1]/div[2]/div[2]/button[1]/p')
pop_up_win.click()

In [23]:
data=[]
table=driver.find_element(By.XPATH,'//div[@class="table-box"]')
for tr in table.find_elements(By.XPATH,'//tr'):
    row=[item.text for item in tr.find_elements(By.XPATH,'.//td')]
    data.append(row)
df=pd.DataFrame(tables)

In [24]:
df=df.drop(columns=[0])

In [25]:
df.columns=['Name','Born-Dead','Term of office','Remark']
df.rename(columns={'Name':'1','Born-Dead':'2','Term of office':'3','Remark':'4'})
df.drop(df.index[0])

,Name,Born-Dead,Term of office,Remark
1,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
2,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
3,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
4,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
5,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
6,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
7,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
8,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
9,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
10,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
11,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
12,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
13,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
14,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
15,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
16,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
17,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
18,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
19,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...
20,List of Nicknames of Indian Prime Ministers,None,None,None

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [110]:
driver=webdriver.Chrome()

In [111]:
#opening the website on automated chrome browser

driver.get('https://www.motor1.com/')

In [112]:
pop_up=driver.find_element(By.XPATH, '/html/body/div[19]/div[2]/div/div/div[2]/div/div/button')
pop_up.click()

In [116]:
#typing in the search bar

search_bar = driver.find_element(By.XPATH, '/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search_bar.send_keys('50 most expensive cars')
search_bar.submit()

In [118]:
# click on the link
link = driver.find_element(By.XPATH, '/html/body/div[10]/div[6]/div/div[1]/div[1]/div[3]/div/div[1]/h3/a')
link.click()

In [136]:
#creating empty lists and scraping the required data

car_name=[]
car_price=[]

names = driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
price = driver.find_elements(By.ID, "Price")

for i in names:
    car_name.append(i.text)
    

for i in price:
    car_price.append(i.text)

In [137]:
print(len(car_name),len(car_price))

51 0

In [153]:
#creating empty lists and scraping the required data

car_name=[]
car_price=[]

names[0:50] = driver.find_elements(By.CLASS_NAME, 'subheader')

for i in names[0:50]:
    car_name.append(i.text)
    
    

price = driver.find_elements(By.TAG_NAME, 'strong')

for i in price:
    car_price.append(i.text)

In [154]:
print(len(car_name),len(car_price))

50 50

In [155]:
#creating DataFrame

cars=pd.DataFrame({'Car_Name':car_name,'Car_Price':car_price})
cars

                              Car_Name                    Car_Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)